<!DOCTYPE html>
<html>
    <head>
        <title>Git Walrus</title>
        <link rel="stylesheet" type="text/css" href="{{ path('css') }}" />
    </head>
    <body>
        <div class="container-fluid">
            {% block menu %}
                {% include "Slices/navbar.html.twig" %}
            {% endblock %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>