tree_object:
  path: /tree/{ref}/{path}
  defaults: { _controller: 'RepositoryController::treeObjectAction', ref: 'master' }
  requirements:
    ref: "\S+"
    path: ".+"

repository_root:
  path: /tree/{ref}
  defaults: { _controller: 'RepositoryController::rootAction', ref: 'master' }
  requirements:
    ref: "\S+"

css:
  path: /all.css
  defaults: { _controller: 'AssetController::cssAction' }

homepage:
  path: /
  defaults: { _controller: 'MainController::homepageAction' }