tree_object:
  path: /tree/{ref}/{path}
  defaults: { _controller: 'MainController::treeObjectAction', ref: 'master' }
  requirements:
    ref: "\S+"
    path: ".+"

homepage:
  path: /
  defaults: { _controller: 'MainController::homepageAction' }

css:
  path: /all.css
  defaults: { _controller: 'AssetController::cssAction' }