parameters:
  kernel.secret: git-walrus
  controller_resolver.class: GitWalrus\Resolver\ControllerResolver

framework:
    router:
        resource: "%kernel.root_dir%/config/routing.yml"

#services:
#  routing:
#    class: GitWalrus\Routing\Router
#    arguments: [ %kernel.root_dir% ]
