services:
  repo:
    class: GitElephant\Repository
    arguments:
      - %repository_root%

  ref_path_splitter:
    class: GitWalrus\Git\RefPathSplitter
    arguments:
      - @repo

  git_router:
    class: GitWalrus\Git\Router
    arguments:
      - @request
      - @router
      - @ref_path_splitter
    scope: request

  git_content:
    class: GitWalrus\Git\Content

  twig_extension:
    class: GitWalrus\Twig\GitWalrusExtension
    arguments:
      - @service_container
    tags:
      - { name: twig.extension }

