{% extends 'base.html.twig' %}

{% set menu_selected = 'homepage' %}

{% block body %}
    {#<h1>Git Walrus</h1>
    <div class="row-fluid">
        <table class="table table-condensed table-striped tree">
            {% for row in repo.tree %}
            <tr>
                <td><a href="{{ path('tree_object', { path: row.fullPath, ref: repo.mainBranch.name }) }}">{{ row }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>#}
    <h3>status</h3>
    {{ repo.status|join('<br />')|raw }}
{% endblock %}